<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">

  </head>

<body>
  <div class="container content">
    <header class="masthead">
      <h3 class="masthead-title">
        <a href="{{ '/' | absolute_url }}" title="Home">{{ site.title }}</a>
        </h3>
    </header>

    <main>
      {{ content }}
    </main>
  <footer class="footer">
<small>
&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
</small>
</footer>
</div>
</body>
</html>